{% extends "base.html" %}
{% block title %}Website Issues{% endblock %}
{% block content %}
<div class="container">
  <h3>Any Site Related Issues. Please Be As Descriptive As Possible</h3>
</div>

<div class="container">
    <form action="/bugconfirm" method="POST">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Describe Your Bug Here</label>
        <textarea class="form-control" name="bug" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    </form>
    <br>
    <br>
</div>
{% endblock %}