{% extends "base.html" %}
{% block title %}Genreal Concerns and Issues{% endblock %}
{% block content %}
<div class="container">
  <h3>Express Your Thoughts</h3>
</div>

<br>
<br>
<br>

<div class="container">
    <form action="/issueconfirm" method="POST">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Describe your grievance here.</label>
        <textarea class="form-control" name="grievance" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    </form>
    <br>
    <br>
</div>
{% endblock %}