{% extends "base.html" %}
{% block title %}News and Updates{% endblock %}
{% block content %}
<div class="container">
    <h3>Current Happenings</h3>
</div>

<br>
<br>

<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Link Title</h5>
          <p class="card-text">If this were an actual news card, this would be the snapshot description of the whatever is interesting, and there would be more than just an example card.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
{% endblock %}